/*Css global colors*/
:root {
    --color: rgb(255, 0, 0);
    --textcolor: white ;
    --fondo: white ;
    
}


body{
    background-color: var(--fondo) !important;
}

/*Customize the scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #dddddd;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color);
    border-radius: 20px;
}
/*End Customize the scrollbar*/

.neu{
    background-color: var(--color) !important;
    color: var(--textcolor) !important;
}


.neu a{
    background-color: var(--color) !important;
    color: var(--textcolor) !important;
}
